.header {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: blueviolet;
}

.nav {
  padding-left: 20px;
  width: 300px;
  gap: 80px;
  display: flex;
  flex-direction: row;
}

.link {
  font-size: 20px;
  text-decoration: none;
  color: black;
  color: white;
}

.main {
  width: 100%;
}
