.header {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav {
  width: 200px;
  gap: 50px;
  display: flex;
  flex-direction: row;
}

.link {
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.main {
  width: 100%;
  display: flex;
}
